{{> dashboardSideNav}}

<style>
	body {
		background-color: #eeeeee;
	}
</style>

<main>
	<div class="container">
		<ul class="collapsible" data-collapsible="accordion">
					{{#each exchange_data}}
					<li>
						<div class="collapsible-header header exchange exchange-header">
							<span class="date">{{formatDate timecreated 'short'}}</span>
							{{#ifCondA exchanger_img_url "!=" null}}
								<img class="profile-1 circle" src="{{exchanger_img_url}}?sz=40">
							{{else}}
								<span class="circle green text-white profile-letter profile-1">{{firstLetter person}}</span>
							{{/ifCondA}}
							
							{{#ifCondA type '==' 'pedro-dollar'}}
								</span>
								{{#ifCondA approved '==' 'true'}}
									{{#ifCondA exchanged '==' 'false'}}
										<span class="truncate title">
											Keeper cancelled {{person}}'s exchange
										</span>	
										<span class="new badge red darken-2" data-badge-caption="Cancelled"></span>
									{{else ifCondA exchanged '==' 'true'}}
										<span class="truncate title">
											{{person}} made an exchange
										</span>	
										<span class="new badge green darken-2" data-badge-caption="Success"></span>
									{{else}}
										<span class="truncate title">
											{{person}} ready to exchange
										</span>	
										<span class="new badge amber darken-2" data-badge-caption="Waiting"></span>
									{{/ifCondA}}

								{{else ifCondA approved '==' 'false'}}
									<span class="truncate title">
										RE cancelled {{person}}'s exchange
									</span>	
									<span class="new badge red darken-2" data-badge-caption="Cancelled"></span>
								{{else}}
									<span class="truncate title">
										{{person}} is Waitingor RE approval
									</span>	
									<span class="new badge amber darken-2" data-badge-caption="Pending"></span>
								{{/ifCondA}}
								<span class="green-text" style="font-weight: bold;">P{{amount}} - ${{result}}</span>
							{{else ifCondA type '==' 'dollar-pedro'}}
								{{#ifCondA exchanged '==' 'false'}}
										<span class="truncate title">
											Keeper cancelled {{person}}'s exchange
										</span>	
										<span class="new badge red darken-2" data-badge-caption="Cancelled"></span>
								{{else ifCondA exchanged '==' 'true'}}
									<span class="truncate title">
										{{person}} made an exchange
									</span>	
									<span class="new badge green darken-2" data-badge-caption="Success"></span>
								{{else}}
									<span class="truncate title">
										{{person}} ready to exchange
									</span>	
									<span class="new badge amber darken-2" data-badge-caption="Waiting"></span>
								{{/ifCondA}}
								<span class="green-text" style="font-weight: bold;">${{amount}} - P{{result}}</span>
							{{else}}
								<span class="truncate title">
										Something went wrong with type
									</span>	
							{{/ifCondA}}
							
							<span class="truncate br-reason blue-grey-text text-darken-2">{{reason}}</span>
						
						</div>
						<div class="collapsible-body content white">
							<div class="row zero-margin">
								<div class="col s12 info-body">
									
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Request Date:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding"><span class="blue-text">{{formatDate timecreated 'standard'}}</span></div>
									</div>

									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Exchanger:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{person}} | {{email}}</div>
									</div>
				
									{{#ifCondA type '==' 'pedro-dollar'}}
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Type:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">Pedro to Dollar</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Amount:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">P{{amount}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Result:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">${{result}}</div>
									</div>
									{{else ifCondA type '==' 'dollar-pedro'}}
										<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Type:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">Dollar to Pedro</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Amount:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">${{amount}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Result:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">P{{result}}</div>
									</div>
									{{/ifCondA}}
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Appointment Date:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding"><span class="blue-text">{{formatDate apptdate 'standard'}}</span></div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Reason:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{reason}}</div>
									</div>
									
									{{#ifCondA type '==' 'pedro-dollar'}}
									<br>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Approve Date:</span></div>
									<div class="col l10	m10 s5 zero-margin zero-padding"><span class="blue-text">{{formatDate timeapproved 'standard'}}</span></div>
									</div><div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>RE:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{re}}</div>
									</div>
									{{/ifCondA}}
									
									{{#ifCondA exchanged '==' 'false'}}
									<br>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Cancelled Date:</span></div>
									<div class="col l10	m10 s5 zero-margin zero-padding"><span class="blue-text">{{formatDate timeexchanged 'standard'}}</span></div>
									</div><div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Keeper:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">Dalin | dalin.l@ligercambodia.org</div>
									</div>
									{{else ifCondA exchanged '==' 'true'}}
									<br>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Exchanged Date:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding"><span class="blue-text">{{formatDate timeexchanged 'standard'}}</span></div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Keeper:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">Dalin | dalin.l@ligercambodia.org</div>
									</div>
									{{/ifCondA}}
									
									
									{{#if picker}}
									<br>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span>Picker:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">Someone | somone.y@ligercambodia.org</div>
									</div>
									{{/if}}
								</div>	
							</div>
						


						</div>
					</li>
					{{/each}}
			</ul>			
<ul class="pagination">
	{{#ifCondA previousStart '!=' 'none'}}
		<li class="waves-effect"><a href="/admin/exchange_data?start={{previousStart}}"><i class="material-icons">chevron_left</i></a>
	{{else ifCondA previousStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
	{{/ifCondA}}
	
	{{#each paginations}}
		{{#if active}}
			<li class="amber"><a href="#!" style="cursor: default; color: white;">{{display}}</a></li>
		{{else}}
			<li class="waves-effect"><a href="/admin/exchange_data?start={{start}}">{{display}}</a></li>
		{{/if}}
	{{/each}}
	{{#ifCondA nextStart '!=' 'none'}}
		<li class="waves-effect"><a href="/admin/exchange_data?start={{nextStart}}"><i class="material-icons">chevron_right</i></a>
		{{else ifCondA nextStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a>
	{{/ifCondA}}
</li>
</ul>
</div>
</main>
{{> mainFooter}}