<div class="col-md-3">
	<div class="profile-sidebar">
		<!-- SIDEBAR USERPIC -->
		<div class="profile-userpic">
			<img src="{{user.picture}}" class="img-responsive">
		</div>
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				{{#each accountData}} {{this.username}} {{/each}}
			</div>
			<div class="profile-usertitle-job">
				Apartment: {{#each accountData}} {{#upperCase}} {{this.apartment}} {{/upperCase}} {{/each}}
			</div>
		</div>
		<!-- END SIDEBAR USER TITLE -->
		<!-- SIDEBAR BUTTONS -->
		<div class="profile-userbuttons">
			<button type="button" class="btn btn-success btn-sm" id="moveBack">Personal Page</button>
		</div>
		<!-- END SIDEBAR BUTTONS -->
		<!-- SIDEBAR MENU -->	
		<div class="profile-usermenu">
			<ul class="nav">

				<li>
					<a href="/apartment_transfer">
					<i class="glyphicon glyphicon-home"></i>
					{{#each accountData}} {{#upperCase}} {{this.apartment}} {{/upperCase}} {{/each}}: Transfer</a>
				</li>

				<li>
					<a href="/apartment_list">
					<i class="glyphicon glyphicon-ok"></i>
					{{#each accountData}} {{#upperCase}} {{this.apartment}} {{/upperCase}} {{/each}}: Approve </a>
				</li>

				<li>
					<a href="/apartment_history">
					<i class="glyphicon glyphicon-flag"></i>
					{{#each accountData}} {{#upperCase}} {{this.apartment}} {{/upperCase}} {{/each}}: History </a>
				</li>

			</ul>
		</div>
		<!-- END MENU -->
	</div>
</div>