<nav class="navbar navbar-fixed-top" id="mainNav" role="navigation" style="background-color:#173F91">
    <div class="container-fluid">

      <div class="navbar-header">
        <div class="animbrand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background-color: white">
          <span class="sr-only" style="font-color: white">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand animate hidden-sm hidden-xs" href="/" style="color: white">LIGER DIGITAL CURRENCY</a>
          <a class="navbar-brand animate visible-sm visible-xs hidden-md hidden-lg" href="/" style="color: white">LDC</a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="bsa-apiads hidden-sm hidden-xs"></div>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a class="page-scroll" href="/about_us" style="color:white">About Us</a>
          </li>

          <li>
            <a class="page-scroll" href="/tutorial" style="color:white">Tutorial</a>
          </li>

          <li>
            {{#if user}}
            <a href="/logout" style="color: white">Logout</a>
            {{else}}
            <a href="/auth/google/login" style="color: white">Login via Google</a>
            {{/if}}
          </li>

          <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white">
                    <span class="glyphicon glyphicon-th" style="transform:scale(1.5,1.5);"></span>
                  </a>
                  <ul class="dropdown-menu" style="color: white">
                    {{#if user}}
                        <!-- Menu for RE -->
                        {{#ifCond user.role 're'}}                    
                          <li><a href="/exchange_list" style="color: orange">Request</a></li>
                        <!-- Menu for Bookkeeper -->
                        {{else ifCond role 'keeper'}}
                          <li><a href="/keeper_list" style="color: orange">Approve Exchanges</a></li>
                        <!-- Menu for normal user -->
                        {{else}}
                          <li><a href="/transfer" style="color: orange">Transfer</a></li>
                          <li><a href="/exchange" style="color: orange">Exchange</a></li>
                          <li><a href="/history" style="color: orange">History</a></li>
                          <li><a href="/settings" style="color: orange"id="nav-settings">Settings</a></li>
                        {{/ifCond}}
                    {{else}}
                      <li> <p style="color: orange"> Please Login! </p> </li>
                    {{/if}}
                  </ul>
          </li>

          {{#if user}}
            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 10px">
                <img src='{{user.image}}' class="img-circle" style="transform:scale(1.5,1.5);" width="30px"/>
              </a>

              <ul class="dropdown-menu profile-drop">
                <h5 class="text-center"><a href="/settings">
                <img src="{{user.image}}" class="img-text-center img-circle" width="90px"/>
                </br>
                </br>
                {{user.fullName}}
                <!-- Done -->
                <h6>{{user.email}}</h6>
                </a></h5>
              </ul>

            </li>
            {{/if}}
        </ul>
      </div> 
      </div>
    </div>     
</nav>

<style>
  .navbar {
    margin-bottom: 0;
  }
</style>