{{> mainNav}}
{{> simNav}}
<div class="container-fluid">
	<div class="row"><br />
		<div class="col s12 l10 offset-l1">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Info</span>
					<p>These are the collected datas about your exchanges and transactions.</p>
				</div>
			</div>
		</div>

		<div class="col s12 l10 offset-l1" id="transfer">
		{{#if transferData}}
			<table class="responsive-table centered z-depth-1">
				<thead class="black">
					<tr class="white-text">
						<th>Date</th>
						<th>User</th>
						<th>Amount</th>
						<th>Remaining Budget</th>
						<th>Reason</th>
					</tr>
				</thead>

				<tbody>
					{{#each transferData}}
					<tr>
						<td><span class="dateFormat" timestamp={{this.timestamp}}></span>{{moment timestamp unix=true format="DD/MM/YYYY hh:mm"}}</td>
						{{#ifCondA recipient '!=' ../email}}
							<td> <span class="new badge red left" data-badge-caption="">Sent to</span> {{recipient}} </td>
						{{else ifCondA this.sender '!=' ../email}}
							<td><span class="new badge blue left" data-badge-caption="">Sent from</span> {{this.sender}} </td>
						{{/ifCondA}}
						<td>P {{this.amount}}</td>

						{{#ifCondA sender '==' ../email}}
							<td>P {{this.sender_resulting_budget}}</td>
						{{else}}
							<td>P {{this.recipient_resulting_budget}}</td>
						{{/ifCondA}}

						<td class="left">{{this.reason}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<h2 class="center">Nothing Collected</h2>
		{{/if}}
		</div>

		<div class="col s12 l10 offset-l1" id="exchange">
	    	{{#if exchangeData}}
		    	<ul class="collection">
		    		<li class="collection-item">
		    			<h5 class="">History</h5>
		    		</li>
		    		{{#each exchangeData}}
			    		<li class="collection-item">
			    			<div class="row" style="margin-bottom: 0;">
						    	<div class="col s4 m5">
						    		<span class="collections-title">{{dateFormat this.timecreated}}</span> <br>
						    		<span class="collections-content red-text" data-badge-caption="">Exchange: P {{this.result}}</span>
						    	</div>
						    	<div class="col s4 m4">
						    		{{#ifCondA this.type '==' 'pedro-dollar'}}
						    			<span class="new badge red left" data-badge-caption=""><Strong>Withdrawal</Strong></span>
						    		{{else}}
						    			<span class="new badge blue left" data-badge-caption=""><strong>Deposit</strong></span>
						    		{{/ifCondA}}
						    	</div>
						    	<div class="col s4 m3">
						    		<a href="#{{this.id}}" class="secondary-content blue-text">More...</a>
						    	</div>
					    	</div>
					    	<div id="{{this.id}}" class="modal black-text white modal-fixed-footer">
							    <div class="modal-content">
							      <h4 class="center">{{formatDate this.timecreated 'standard'}}</h4>
							       <br />
							       <ul class="collapsible popout" data-collapsible="accordion">
								    <li class="z-depth-1">
								      <div class="collapsible-header"><i class="material-icons">account_box</i>Personal</div>
								      <div class="collapsible-body">
								      	<span>
								      	  Date Exchanging: {{formatDate this.timecreated 'standard'}} <br />

								      	  Appointment Date: {{formatDate this.apptdate 'standard'}} <br />

									      Type: {{#ifCondA this.type '==' 'pedro-dollar'}}Pedro to Dollar{{else}}Dollar to Pedro{{/ifCondA}} <br />

									      Initial Exchange: P {{this.amount}} <br />

									      Amount: P {{this.result}} <br />

									      Reason: {{this.reason}} <br />
								      	</span>
								      </div>
								    </li>

								    {{#ifCondA this.type '==' 'pedro-dollar'}}
									    <li class="z-depth-1">
									      <div class="collapsible-header"><i class="material-icons">group</i>RE</div>
									      <div class="collapsible-body">
									      	<span>
									      		RE Approve: {{#ifCondA this.approved '==' 'true'}} Yes {{else ifCondA this.approve '==' "false"}} No {{else}} Pendding {{/ifCondA}}<br />

									      		RE Approve Date: {{formatDate this.timeapproved 'standard'}} <br />
									      	</span>
									      </div>
									    </li>
								    {{/ifCondA}}

								    <li class="z-depth-1">
								      <div class="collapsible-header"><i class="material-icons">account_balance</i>Keeper</div>
								      <div class="collapsible-body">
								      	<span>
								      		Keeper Approve: {{#ifCondA this.exchanged '==' 'true'}} Success Exchagned {{else ifCondA this.exchanged '==' "false"}} Fail Exchange {{else}} Not yet arrive! {{/ifCondA}} <br />

								     		Keeper Approve Date: {{formatDate this.timeexchanged 'standard'}} <br />
								      	</span>

								      </div>
								    </li>
								  </ul>
							    </div>
							    <div class="modal-footer">
							      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
							    </div>
						  	</div>
			    		</li>
		    		{{/each}}
		    	</ul>
	    	{{else}}
	    		<h2 class="center">Nothing Collected</h2>
			{{/if}}
		</div>
	</div>
</div>
<script type="text/javascript">

  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

</script>

<style type="text/css">
.marginLes{
	margin-top: 0px;
}
</style>
