{{> dashboard-nav}}

<div class="row">
	<div class="col l9 offset-l3 s12">
		<ul class="collapsible" data-collapsible="accordion">
			
				{{#each transfer_data}}
					<li>
						<div class="collapsible-header header transfer">
							<!-- Short Date -->
							<span class="date">{{dateFormat date}}</span>
							<!-- Sender Profile Picture -->
							{{#ifCondA sender_img_url "!=" null}}
							<img src="{{sender_img_url}}?sz=40" class="profile-img profile-1 circle" >
							{{else}}
							<span class="circle red text-white profile-letter profile-1">{{firstLetter sender_username}}</span>
							{{/ifCondA}}
							<!-- Recipient Profile Picture -->
							{{#ifCondA recipient_img_url "!=" null}}
							<img src="{{recipient_img_url}}?sz=40" class="profile-img profile-2 circle" >
							{{else}}
							<span class="circle green text-white profile-letter profile-2">{{firstLetter recipient_username}}</span>
							{{/ifCondA}}
							<!-- Title of Transfer Log -->
							<span class="truncate title">{{sender_username}} <i class="material-icons" style="">send</i> {{recipient_username}}</span>
							<!-- Transfer amount -->
							<span class="green-text" style="font-weight: bold;">P{{amount}}</span><br>
							<!-- Transfer Reason -->
							<span class="truncate br-reason blue-grey-text text-darken-2">{{reason}}</span>
						</div>

						<div class="collapsible-body content">
							<div class="row zero-margin">
								<div class="col s12 info-body">
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Transfer Date:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{date}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Amount:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">P{{amount}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Reason:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{reason}}</div>
									</div>
								</div>

								<div class="col s12 l6 m6 user-body">
									{{#ifCondA sender_img_url "!=" null}}
									<img class="profile circle" src="{{sender_img_url}}?sz=40" > 
									{{else}}
									<span class="circle profile red text-white circle-letter">{{firstLetter sender_username}}</span>
									{{/ifCondA}}
									
									<span>Sender | {{sender_username}} </span><br>
									<span class="email">{{sender}}</span><br>
									Resulting Budget: P{{sender_resulting_budget}}
								</div>
								
								<div class="col s12 l6 m6 user-body">
								
									{{#ifCondA recipient_img_url "!=" null}}
									<img class="profile circle" src="{{recipient_img_url}}?sz=40" > 
									{{else}}
									<span class="circle profile green text-white circle-letter">{{firstLetter recipient_username}}</span>
									{{/ifCondA}}
									<span class="vuthy">Recipient | {{recipient_username}} </span><br>
									<span class="email">{{recipient}}</span><br>
									Resulting Budget: P{{recipient_resulting_budget}}
								</div>

								
							</div>
						


						</div>
					</li>

				{{/each}}
					
				</ul>
				<ul class="pagination">

	{{#ifCondA previousStart '!=' 'none'}}
    	<li class="waves-effect"><a href="/admin/transfer_data?start={{previousStart}}"><i class="material-icons">chevron_left</i></a>
	{{else ifCondA previousStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
	{{/ifCondA}}
    
    {{#each paginations}}
    	{{#if active}}
		<li class="amber"><a href="#!" style="cursor: default; color: white;">{{display}}</a></li>

		{{else}}
		<li class="waves-effect"><a href="/admin/transfer_data?start={{start}}">{{display}}</a></li>
		{{/if}}
		
    	
    {{/each}}
	{{#ifCondA nextStart '!=' 'none'}}
    	<li class="waves-effect"><a href="/admin/transfer_data?start={{nextStart}}"><i class="material-icons">chevron_right</i></a>
	{{else ifCondA nextStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a>
	{{/ifCondA}}
    </li>
  </ul>
	</div>

</div>


