{{> dashboard-nav}}

<div class="row">
	<div class="col l9 offset-l3 s12">
		<ul class="collapsible" data-collapsible="accordion">
			
				{{#each transfer_data}}
					<li>
						<div class="collapsible-header green transfer-header">
							<!-- Short Date -->
							<span class="white-text date">{{dateFormat date}}</span>
							<!-- Sender Profile Picture -->
							{{#ifCondA sender_img_url "!=" null}}
							<img src="{{sender_img_url}}?sz=40" class="profile-1 circle" >
							{{else}}
							<span class="circle red text-white profile-letter-1">{{firstLetter sender_username}}</span>
							{{/ifCondA}}
							<!-- Recipient Profile Picture -->
							{{#ifCondA recipient_img_url "!=" null}}
							<img src="{{recipient_img_url}}?sz=40" class="profile-2 circle" >
							{{else}}
							<span class="circle green text-white profile-letter-2">{{firstLetter recipient_username}}</span>
							{{/ifCondA}}
							<!-- Title of Transfer Log -->
							<span class="truncate title">{{sender_username}} <i class="material-icons" style="">send</i> {{recipient_username}}</span>
							<!-- Transfer amount -->
							<span class="white-text darken-4">P{{amount}}</span><br>
							<!-- Transfer Reason -->
							<span class="truncate br-reason">{{reason}}</span>
						</div>

						<div class="collapsible-body transfer-content">
							<div class="row zero-margin">
								<div class="col s12 info-body">
									<span class="info-title">Transfer Date: </span> <span class="blue-text">{{date}}</span><br>
									<span class="info-title">Amount:</span> P{{amount}}<br>
									<span class="info-title">Reason:</span> {{reason}}<br>
								</div>

								<div class="col s12 l6 m6 user-body">
									{{#ifCondA sender_img_url "!=" null}}
									<img class="profile circle" src="{{sender_img_url}}?sz=40" > 
									{{else}}
									<span class="circle profile red text-white circle-letter">{{firstLetter sender_username}}</span>
									{{/ifCondA}}
									
									<span>Sender | {{sender_username}} </span><br>
									<span class="email">{{sender}}</span><br>
									Resulting Budget: P{{sender_resulting_budget}}
								</div>
								
								<div class="col s12 l6 m6 user-body">
								
									{{#ifCondA recipient_img_url "!=" null}}
									<img class="profile circle" src="{{recipient_img_url}}?sz=40" > 
									{{else}}
									<span class="circle profile green text-white circle-letter">{{firstLetter recipient_username}}</span>
									{{/ifCondA}}
									<span class="vuthy">Recipient | {{recipient_username}} </span><br>
									<span class="email">{{recipient}}</span><br>
									Resulting Budget: P{{recipient_resulting_budget}}
								</div>

								
							</div>
						


						</div>
					</li>

				{{/each}}
					
				</ul>
				<ul class="pagination">

	{{#ifCondA previousStart '!=' 'none'}}
    	<li class="waves-effect"><a href="/admin/transfer_data?start={{previousStart}}"><i class="material-icons">chevron_left</i></a>
	{{else ifCondA previousStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
	{{/ifCondA}}
    
    {{#each paginations}}
    	{{#if active}}
		<li class="amber"><a href="#!" style="cursor: default; color: white;">{{display}}</a></li>

		{{else}}
		<li class="waves-effect"><a href="/admin/transfer_data?start={{start}}">{{display}}</a></li>
		{{/if}}
		
    	
    {{/each}}
	{{#ifCondA nextStart '!=' 'none'}}
    	<li class="waves-effect"><a href="/admin/transfer_data?start={{nextStart}}"><i class="material-icons">chevron_right</i></a>
	{{else ifCondA nextStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a>
	{{/ifCondA}}
    </li>
  </ul>
	</div>

</div>

<style>
	.transfer-header {
		position: relative; 
		padding: 10px 20px 10px 86px; 
		line-height: 1.5rem; 
		min-height: 72px
	}

	.transfer-header .date {
		font-size: 12px; 
		float: right; 
		margin-left: 1rem
	}

	.transfer-header .profile-1 { 
		position: absolute; 
		left: 1rem; 
		border: solid 2px white; 
		height: 40px;
	}

	.transfer-header .profile-letter-1 {
		height: 40px;
		width: 40px;
		line-height: 36px;
		display: inline-block;
		text-align: center;
		color: white;
		border: 2px solid white;
		font-weight: 00;
		font-size: 20px; 
		position: absolute; 
		left: 1rem;
	}

	.transfer-header .profile-letter-2 {
		height: 40px;
		width: 40px;
		line-height: 36px;
		display: inline-block;
		text-align: center;
		color: white;
		border: 2px solid white;
		font-weight: 00;
		font-size: 20px; 
		position: absolute; 
		left: 2.5rem;
	}
	
	.circle-letter {
		height: 40px;
		width: 40px;
		line-height: 36px;
		display: inline-block;
		text-align: center;
		color: white;
		border: 2px solid white;
		font-weight: 00;
		font-size: 20px; 
	}

	.transfer-header .profile-2 {
		position: absolute; 
		left: 2.5rem;  
		border: solid 2px white; 
		height: 40px;
	}

	.transfer-header .title {
		font-size: 16px;
	}

	.transfer-header i {
		font-size: inherit; 
		float: none; display: 
		inline; line-height: inherit; 
		margin: 0; vertical-align: middle; 
		font-weight: bold;
	}

	.transfer-header .br-reason {
		font-size: 12px;
	}

/*	.transfer-content {
		padding: 10px;
	}*/

	.zero-margin {
		margin: 0;
	}

	.transfer-content .info-body {
		position: relative;
		padding: 10px;
		padding-left: 20px;
		font-size: 12px;
		line-height: 1.5rem;
	}

	.transfer-content .info-tittle {
		width:90px;  
		display: inline-block;
	}

	.transfer-content .user-body {
		position: relative; 
		padding: 10px 0; 
		padding-left: 72px; 
		border: 1px solid #ddd;
	}
	
	.transfer-content img.profile , span.profile{
		position:absolute; 
		left: 20px; 
		border: solid 2px white; 
		border-radius: 50%; 
		height: 40px;
	}

	.transfer-content .email {
		font-size: 10px;
	}
	
	.secondary-color {
		background-color: #4caf50
	}

	
</style>