<div class="win-history tab-pane fade in active" id="transfer_his">
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Date/Time</th>
					<th>Person</th>
					<th>Amount</th>
					<th>Total Budget</th>
					<th>Recipient</th>
					<th>Apartment</th>
					<th>Approved</th>
				</tr>
				
				{{#each apartment}}
					<tr>
						<td>{{dateFormat this.time}}</td>
						<td>{{this.person}}</td>	
						<td>{{this.amount}}</td>
						<td>{{this.resulting_budget}}</td>
						<td>{{this.recipient}}</td>
						<td>{{this.apartment}}</td>

						<td>
						{{#ifCond this.num_approve 0}}
							<form method="post" action="/apartment_list/approve/{{this.id}}">
								<button type="submit" name="status" value="1">Accept</button>
								<button type="submit" name="status" value="0">Deny</button>
							</form>
						{{else ifCond this.num_approve 1}}
							Transfered
						{{else}}
							Failed
						{{/ifCond}}
						</td>

					</tr>
				{{/each}}
			</thead>
		</table>
	</div>
</div>