{{> dashboardSideNav}}
<style>
	body {
		background-color: #eeeeee;
	}
</style>
<div>
	<main>
	<div class="container">


		<ul class="collapsible" data-collapsible="accordion">

				{{#each transfer_data}}
					<li>
						<div class="collapsible-header header exchange" style="min-height: 60px;">
						<!-- Short Date -->
							<span class="date">{{formatDate date 'short'}}</span>
							<!-- Sender Profile Picture -->
							{{#ifCondA sender_img_url "!=" null}}
							<img src="{{sender_img_url}}?sz=40" class="profile-img profile-1 circle" >
							{{else}}
							<span class="circle green profile-letter profile-1">{{firstLetter sender_username}}</span>
							{{/ifCondA}}
							<!-- Recipient Profile Picture -->
							<div class="hide-on-med-and-up">
								<!-- Title of Transfer Log -->
							<span class="truncate title">{{sender_username}}</span>

							<!-- Transfer Reason -->
							<span class="truncate br-reason grey-text text-darken-3">Sent P50</span>
							</div>
							<div class="hide-on-small-only">
								<!-- Title of Transfer Log -->
							<span class="truncate title">{{sender_username}} send P{{amount}} to {{recipient_username}}</span>

							<!-- Transfer Reason -->
							<span class="truncate br-reason grey-text text-darken-3">{{reason}}</span>
							</div>




													</div>

						<div class="collapsible-body content white">
							<div class="row zero-margin">
								<div class="col s12 info-body">
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>From:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{sender}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>To:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{recipient}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Transfer Date:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{formatDate date 'standard'}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Amount:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">P{{amount}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Reason:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">{{reason}}</div>
									</div>
									<div class="row zero-margin">
										<div class="col l2 m2 s5 zero-margin zero-padding"><span class='left'>Resulting Budget:</span></div>
										<div class="col l10	m10 s5 zero-margin zero-padding">P{{recipient_resulting_budget}}</div>
									</div>

								</div>




							</div>



						</div>
					</li>

				{{/each}}

				</ul>
				<ul class="pagination">

	{{#ifCondA previousStart '!=' 'none'}}
    	<li class="waves-effect"><a href="/catering/transfer_logs?start={{previousStart}}"><i class="material-icons">chevron_left</i></a>
	{{else ifCondA previousStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
	{{/ifCondA}}

    {{#each paginations}}
    	{{#if active}}
		<li class="amber"><a href="#!" style="cursor: default; color: white;">{{display}}</a></li>

		{{else}}
		<li class="waves-effect"><a href="/catering/transfer_logs?start={{start}}">{{display}}</a></li>
		{{/if}}


    {{/each}}
	{{#ifCondA nextStart '!=' 'none'}}
    	<li class="waves-effect"><a href="/catering/transfer_logs?start={{nextStart}}"><i class="material-icons">chevron_right</i></a>
	{{else ifCondA nextStart '==' 'none'}}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a>
	{{/ifCondA}}
    </li>
  </ul>


</div>
</main>
</div>




{{> mainFooter}}
