{{> keeperNav}}
<div class="container-fluid">
  <div class="row">
    <div class="col s12 l10 offset-l1">
      <div class="card circle z-depth-2">
        <div class="card-content black-text grey lighten-4">
          <span class="card-title center">Exchange Dollar to Pedro</span>
          <div class="row">
          {{#each approvedDate}}
            <div class="col l4 m4 s12">
              <div class="card">
                <div class="card-content">

                   <span class="card-title activator grey-text text-darken-4">{{this.person}}<i class="material-icons right waves-effect waves-light">more_vert</i></span>

                  <div class="row">
                    <p class="left">Amount: P{{this.result}} <br />Date: {{dateFormat this.timecreated}}</p>
                  </div>

                  <div class="row no-margin">
                    <div class="card-action">
                      <form method="post" action="/keeper/d/p/{{this.id}}">
                        <button class="waves-effect waves-light col s6 btn-flat orange-text" type="submit" name="status" value="done">Done</button>

                        <button class="waves-effect waves-light col s6 btn-flat orange-text" type="submit" name="status" value="cancel">Cancel</button>
                      </form>
                  </div>   
                  </div>

                </div>

                <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">More info<i class="waves-effect waves-light material-icons right">close</i></span>
            <p>Apartment: {{this.apartment}} <br /> Initial amount: P{{this.amount}} <br /> Email: {{this.email}} <br /> Reason: {{this.reason}}</p>
          </div>

              </div>
            </div>
          {{/each}}
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">

$(".button-collapse").sideNav();

</script>

<style type="text/css">


.no-margin{
	margin: 0;

}
</style>
