<body>
{{transfer}}
<table class="table">
<thead class="thead-inverse">
<tr> 
<th>Date</th>
<th>Sender</th>
<th>Recipient (P)</th>
<th>Amount</th>
<th>Resulting Budget</th>
</tr>
</thead>

<tbody>
{{#each columns}}
	<p> {{this.name}} </p>
{{/each}}

{{#each results}}
<tr>
<td>{{this.date}}</td>
<td>{{this.sender}}</td>
<td>{{this.recipient}}</td>
<td>{{this.amount}}</td>
<td>{{this.resulting_budget}}</td>
</tr>
{{/each}}
</tbody>
</table>
<input type="email" />
<script type="text/javascript">
new Awesomplete('input[type="email"]', {
	list: ["aol.com", "att.net", "comcast.net", "facebook.com", "gmail.com", "gmx.com", "googlemail.com", "google.com", "hotmail.com", "hotmail.co.uk", "mac.com", "me.com", "mail.com", "msn.com", "live.com", "sbcglobal.net", "verizon.net", "yahoo.com", "yahoo.co.uk"],
	data: function (text, input) {
		return input.slice(0, input.indexOf("@")) + "@" + text;
	},
	filter: Awesomplete.FILTER_STARTSWITH
});
</script>
<link rel="stylesheet" href="awesomplete.css" />
<script src="awesomplete.js" async></script>
</body>

