<body id="page-top">
	{{> navigation}}
	<div id="center-body">
		<h2 class="h2 text-center">Exchange Request</h2></br>
		<div class="win-history tab-pane fade in active" id="transfer_his">
			<div class="table-responsive">
				<table class="table">
					<thead class="thead-inverse">
						<tr>
							<th>Time Requested</th>
							<th>Person</th>
							<th>Type</th>
							<th>Amount</th>
							<th>Result</th>
							<th>Appointment Date</th>
							<th>Reason</th>
							<th>Status</th>
						</tr>
						
						{{#each requestRow}}
							<tr>
								<td>{{dateFormat this.timecreated}}</td>
								<td>{{this.person}}</td>
								<td>{{this.type}}</td>
								<td>
									{{#ifCondA this.type '==' 'Dollar to Pedro'}}
										${{this.amount}}
									{{else}}
										P{{this.amount}}
									{{/ifCondA}}
								</td>
								<td>
									{{#ifCondA this.type '==' 'Dollar to Pedro'}}
										P{{this.result}}
									{{else}}
										${{this.result}}
									{{/ifCondA}}
								</td>
								<td>{{dateFormat this.apptdate}}</td>
								<td>{{this.reason}}</td>
								<td>
									
									
									{{#ifCond this.approved "true"}}
										Approved by {{this.re}}
									{{else ifCond this.approved null}}
										<form method="post" action="/exchange_list/approve/{{this.id}}">
											<button type="submit" name="status" value="true">Accept</button>
											<button type="submit" name="status" value="false">Cancel</button>
										</form>
									{{else}}
										Cancel by {{this.re}}
									{{/ifCond}}
								</td>
							</tr>
						{{/each}}
					</thead>
				</table>
			</div>
		</div>
	</div>
	{{> footer}}
</body>