{{> keeperNav}}
<div class="container-fluid">
	<div class="row">
		<div class="col s12 l10 offset-l1">
			<div class="card">
				 <div class="card-content">
				 	<span class="card-title">Info</span>
				 	<div class="row">
				 		<h6>There were a lot of user that exhcange from pedro to dollar, so please read their reason before you approve it. Thank you!</h6>
				 	</div>
				 </div>
			</div>
		</div>
		<div class="col s12 m10  offset-m1">
			<ul class="collapsible" data-collapsible="accordion">
				{{#if exchangeData}}
					{{#each exchangeData}}
						<li>
						  <div class="collapsible-header">
						  	<div class="row" style="margin: 0;">
						  		<div class="col s12 m3">
						  			<span>{{dateFormat this.timecreated}}</span>
						  		</div>

						  		<div class="col s12 m3">
						  			<span class="new badge blue" data-badge-caption="">{{this.person}}</span>
						  		</div>

						  		<div class="col s12 m3">
						  			<span class="new badge right red" data-badge-caption="">P {{this.result}}</span>
						  		</div>

						  		<div class="col s12 m3">
						  			<span class="new badge right red" data-badge-caption="">{{dateFormat this.apptdate}}</span>
						  		</div>
						  	</div>
						  </div>
						  <div class="collapsible-body">
						  	<div class="row">
						  		<div class="col s12 m6">
						  			<p>
						  				Date Exchange: {{dateFormat this.timecreated}} <br />
										Person: {{this.person}} <br />
										Type: {{this.type}}<br />
										Exchange Amount: P {{this.amount}}<br />
										Exhcnage Result: P {{this.result}}<br />
						  			</p>
						  		</div>
						  		<div class="col s12 m6">
						  			Reason: {{this.reason}} <br />
						  			{{#ifCond this.approved "true"}}
										Approved by {{this.re}}
									{{else ifCond this.approved null}}
										<form method="post" action="/exchange_list/approve/{{this.id}}">
											<button type="submit" name="status" value="true" class="btn">Accept</button>
											<button type="submit" name="status" value="false" class="btn">Cancel</button>
										</form>
									{{else}}
										Cancel by {{this.re}}
									{{/ifCond}}
						  		</div>
						  	</div>
						  </div>
						</li>
					{{/each}}
				{{else}}
				<div class="row">
					<h2 class="center">Nothing Collected</h2>
				</div>
				{{/if}}
			</ul>
		</div>
	</div>
</div>