<body id="page-top">

  <!--Head-->
  {{> footer}}

  <!--Body-->
  <div class="center-body">
    <div class="container" id="win-history">
      <h1 class="h1 text-center">History</h1>

      <div class="table-responsive">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Amount (P)</th>
              <th>Person</th>
              <th>Email</th>
            </tr>
          </thead>
          
            <tbody>
          {{#each results}}
            <tr>
              <td>{{this.date}}</td>
              <td>{{this.status}}</td>
              <td>{{this.amount}}</td>
              <td>{{this.person}}</td>
              <td>{{this.email}}</td>
            </tr>
          {{/each}}
           </tbody>
          </table>
      </div>
    </div>
  </div>

  <!--Tail-->
  {{> footer}}
</body>