<body id="page-top">

  <!--Head-->
  {{> navigation}}

  <!--Body-->
  <div class="center-body">
    <div class="container" id="win-history">

      <div class="table-responsive">
        <table class="table">
          <thead class="thead-inverse">
            <p>{{user._json.email}}</p>
            <p><h1 align="center"><b>Transfer Logs</b></h1></p>
            <tr>
            {{#each columns1}}
              <th>{{this.name}}</th>
            {{/each}}
            </tr>
           
            {{#each results1}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.sender}}</td>
                <td>{{this.recipient}}</td>
                <td>{{this.amount}}</td>
                <td>{{this.resulting_budget}}</td>               
              </tr>
            {{/each}} 
          </thead>
        </table>
      </div>

    </div>
  </div>
{{> footer}}
</body>