<body id="page-top">

  <!--Head-->
  {{> navigation}}

  <!--Body-->
  <div class="center-body">
    <div class="container" id="win-history">
      <h1 class="h1 text-center">History</h1>

      <div class="table-responsive">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
            {{#each columns}}
              <th>{{this.name}}</th>
            {{/each}}
            </tr>
          </thead>
          
            <tbody>
          {{#each data}}
            <tr>
              <td>{{this.status}}</td>
              <td>{{this.amount}}</td>
              <td>{{this.person}}</td>
              <td>{{this.email}}</td>
              <td>{{this.date}}</td>
            </tr>
          {{/each}}
           </tbody>
          </table>
      </div>
    </div>
  </div>
{{> footer}}
</body>