<body id="page-top">
    <!--Head-->
    {{> navigation}}

  <!--Body-->
  <div id="center-body">
    <h2 class="h2 text-center"><b>Histories</b></h2>

    <div class="container text-center">
      <ul class="nav nav-pills nav-justified btn-lg">
        <li class="active">
          <a data-toggle="pill" href="#transfer_his">Transfer</a>
        </li>
        <li>
          <a data-toggle="pill" href="#exchange_his">Exchange</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="win-history tab-pane fade in active" id="transfer_his">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th class="text-center">Date</th>
                  <th class="text-center">Sender</th>
                  <th class="text-center">Recipient</th>
                  <th class="text-center">Amount</th>
                  <th class="text-center">Total Budget</th>
                </tr>
               
                {{#each data1}}
                  <tr>
                    <td>{{dateFormat this.date}}</td>
                    <td>{{this.sender}}</td>
                    <td>{{this.recipient}}</td>
                    <td>{{this.amount}}</td>
                    {{#ifCond this.sender user._json.email}}
                      <td>{{this.sender_resulting_budget}}</td>
                    {{else}}
                     <td>{{this.recipient_resulting_budget}}</td>
                    {{/ifCond}}
                  </tr>
                {{/each}} 
              </thead>
            </table>
          </div>
        </div>

        <div class="win-history tab-pane fade" id="exchange_his">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th class="text-center">Time</th> 
                  <th class="text-center">Person</th>
                  <th class="text-center">Exchange Type</th> 
                  <th class="text-center">Amount</th> 
                  <th class="text-center">Result</th>
                  <th class="text-center">Reason</th> 
                  <th class="text-center">To RE</th> 
                  <th class="text-center"></th>
                  <th class="text-center">Approved</th>
                  <th class="text-center">Time</th>
                  <th class="text-center"></th>
                  <th class="text-center">Exchanged</th>
                  <th class="text-center">Time</th>
                </tr>
               
                {{#each data2}}
                  <tr>
                    <td>{{dateFormat this.timecreated}}</td>
                    <td>{{this.person}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.amount}}</td> 
                    <td>{{this.result}}</td> 
                    <td>{{this.reason}}</td>  
                    <td>{{this.re}}</td>
                    <td></td>
                    <td>{{#ifCond this.approved "true"}}
                          Accept
                        {{else ifCond this.approved "false"}}
                          Denied
                        {{else ifCond this.approved "more_info"}}
                          Need more information
                        {{else}}
                          Pending
                        {{/ifCond}}
                    </td>  
                    <td>{{dateFormat this.timeapproved}}</td>
                    <td></td>  
                    <td>{{#ifCond this.exchanged "true"}}
                          Finished
                        {{else ifCond this.approved undefine}}
                          Not arrive
                        {{else ifCond this.approved "more_info"}}
                          Cancled
                        {{else ifCond this.approved "false"}}
                          Cancled
                        {{else}}
                          Pending
                        {{/ifCond}}
                    </td>  
                    <td>{{this.timeexchanged}}</td>  
                               
                  </tr>
                {{/each}} 
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Tail-->
  {{> footer}}
</body>