<body id="page-top">
	{{> navigation}}
	<div id="center-body">

		Total Money: {{totalBudget}}

		<div class="win-history tab-pane fade in active" id="transfer_his">
			<div class="table-responsive">
				<table class="table">
					<thead class="thead-inverse">
						<tr>
							<th>Appointment Date</th>
							<th>Person</th>
							<th>Type</th>
							<th>Amount</th>
							<th>Result</th>
							<th>Approved</th>
							<th>Status</th>
						</tr>
						
						{{#each requestRow}}
							<tr>
								<td>{{dateFormat this.apptdate}}</td>
								<td>{{this.person}}</td>
								<td>{{this.type}}</td>
								<td>
									{{#ifCondA this.type '==' 'Dollar to Pedro'}}
										${{this.amount}}
									{{else}}
										P{{this.amount}}
									{{/ifCondA}}
								</td>
								<td>
									{{#ifCondA this.type '==' 'Dollar to Pedro'}}
										P{{this.result}}
									{{else}}
										${{this.result}}
									{{/ifCondA}}
								</td>
								<td>{{#ifCondA this.type '==' 'Dollar to Pedro'}}
										Approved Automatically
									{{else}}
										Approved by {{this.re}}
									{{/ifCondA}}

								</td>
								<td>
								{{#ifCond this.exchanged null}}
									<form method="post" action="/keeper_list/approve/{{this.id}}">
										<button type="submit" name="status" value="true">Done</button>
										<button type="submit" name="status" value="false">Cancel</button>
									</form>
								{{else ifCond this.exchanged "true"}}
									Exchanged
								{{else}}
									Canceled
								{{/ifCond}}
								</td>
							</tr>
						{{/each}}
					</thead>
				</table>
			</div>
		</div>
	</div>
	{{> footer}}
</body>