<body id="page-top">
	{{> navigation}}
	<div id="center-body">
	Total Money: 1000bg
		<div class="win-history tab-pane fade in active" id="transfer_his">
			<div class="table-responsive">
				<table class="table">
					<thead class="thead-inverse">
						<tr>
							<th>Time Requested</th>
							<th>Person</th>
							<th>Type</th>
							<th>Amount</th>
							<th>Result</th>
							<th>Reason</th>
							<th>Status</th>
						</tr>
						
						{{#each requestRow}}
							<tr>
								<td>{{dateFormat this.timecreated}}</td>
								<td>{{this.person}}</td>
								<td>{{this.type}}</td>
								<td>{{this.amount}}</td>
								<td>{{this.result}}</td>
								<td>{{this.reason}}</td>
								<td>
								{{#ifCond this.exchanged null}}
									<form method="post" action="/keeper_list/approve/{{this.id}}">
										<button type="submit" name="status" value="true">Accept</button>
										<button type="submit" name="status" value="false">Deny</button>
									</form>
								{{else ifCond this.exchanged "true"}}
									Exhanged by keeper
								{{else}}
									Dennie by keeper
								{{/ifCond}}
								</td>
							</tr>
						{{/each}}
					</thead>
				</table>
			</div>
		</div>
	</div>
	{{> footer}}
</body>