{{> dashboardSideNav}}
<style>
.collection a.collection-item {
	transition: .25s;
	color: black;
	background-color: #546e7a;
}

body {
		background-color: #eeeeee;
	}

</style>
<br>
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col l12">
				<div class="col l6 m6 s12">
					<div class="card white-text blue-grey darken-1">
						<div class="card-content">
							<span class="card-title white-text"><i class="material-icons white-text right">grade</i><strong>{{bankName}} Current Budget </strong></span>
							<h4 class="white-text">P{{bankBudget}}</h4>
						</div>

					</div>

				</div>
				{{#ifCondA recentTransfer '!=' null}}
				<div class="col l6 m6 s12">
					<div class="card blue-grey darken-1">
						<div class="card-content">
							<span class="card-title white-text"><Strong>Recent Transfer </Strong></span>
							<ul class="collection">
								{{#each recentTransfer}}
								<a href="/section/{{lowerCase ../bankName}}/transfer_logs" class="collection-item"><strong>{{sender_username}} sent P{{amount}} <span class="right">{{formatDate date 'short'}}</strong></span></a>
								{{/each}}
							</ul>
						</div>

					</div></div>


				</div>
				{{/ifCondA}}
			</div>
			<div class="row">
				<form action="/section/{{sectionName}}/overview" method="get">
				<div class="input-field col l4 ">
					<i class="material-icons prefix">date_range</i>
					<input type="date" value={{after}} name="after" id="after" class="datepicker">
					<label for="after">After</label>
				</div>
				<div class="input-field col l4 ">
					<i class="material-icons prefix">date_range</i>
					<input type="date" value={{before}} name="before" id="before" class="datepicker" required="required">
					<label for="before">Before</label>
				</div>
				<div class="col l4  m4 s8 ">
					<input type="submit" class="btn blue submit-button">
				</div>
			</form>
			</div>
			<div class="row">
				{{#each apartmentData}}
				<div class="col l4 m6 s12">
					<div class="card blue-grey lighten-2">
						<div class="card-content white-text">
							<span class="card-title"><strong>{{#ifCondA apartment '!=' null}}Apartment {{upperCase apartment}}{{else}}Non-apartment accounts{{/ifCondA}}</span>
							<h4 class="black-text">Total Sent {{sum}}</strong></h4>
						</div>
						<div class="card-action white-text"><a href="" class="white-text">View More</a></div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</main>

	<script type="text/javascript">

		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 10, // Creates a dropdown of 15 years to control year
			firstDay: 1,
			format: 'dd-mm-yyyy'
		});
	</script>
