<body id="page-top">
    
    <!--Head-->
    {{> navigation}}
    <div id="center-body">
      <div id="center-body">
          <div class="container text-center" id="win-transfer">
            <h1 class="h1">Transfer Confirmation</h1>
            </br>
            <button button="button" class="btn btn-primary">Your Current Budget <span class="badge">P{{#each budget}} {{this.budget}}{{/each}}</span></button>
            <form class="form-inline" method=post action="/transfer_success">
                  <h2> Are you sure that you want to transfer <input type="text" value={{amount}} name="amount" readonly="true" size={{amount.length}}> to <input type ="badge" value={{recipient}} name="recipient" readonly="true" size={{recipient.length}}>??</span></h2>
                  </br>
                  <br>
                  <input type="button" value="Back" id="moveBack" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2">
                  
                  <input type="submit" value="Send" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2">
            </form> 
          </div>
    </div>
</body>
<script type="text/javascript">
  $('#moveBack').on('click', function(event){
    location.href = '/transfer';
  });
</script>