<body>

              <table class="table">
                <thead class="thead-inverse">
                  <p><h1 align="center"><b>Transfer Logs</b></h1></p>
                  <tr>
                  {{#each columns2}}
                    <th>{{this.name}}</th>
                  {{/each}}
                  </tr>
                 
                  {{#each results2}}
                   <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.sender}}</td>
                    <td>{{this.recipient}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.resulting_budget}}</td>
                  {{/each}}                
                  </tr>
                </table>
<br>
<br>
<br>
              <table class="table">
                <thead class="thead-inverse">
                  <p><h1 align="center"><b>Exchange Logs</b></h1></p>
                  <tr>
                  {{#each columns}}
                    <th>{{this.name}}</th>
                  {{/each}}
                  </tr>
                  {{#each results}}
                  <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.exchanging_types}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.approval}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.resulting_budget}}</td>
                  {{/each}}                
                  </tr>
                </table>

</body>