{{> mainNav}}

<div class="container-fliud">
  <div class="row">
    {{> apartmentValue}}
    <div class="col s12 m10 l10 offset-l1 l10 offset-m1">       
      {{#if transferData}}

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header center" style="padding: 1em;padding-left: 2.5em;">
            <h5>Apartment History</h5>
          </div>
        </li>
        {{#each transferData}}
          <li>
            <div class="collapsible-header">
              <div class="row" style="margin: 0;">
                <div class="col s12 m4 l4">
                  <span>{{formatDate this.date 'standard'}}</span>
                </div>
                <div class="col s12 m4 l4">
                  {{#ifCondA this.recipient '==' ../apartmentEmail}}
                    <span class="new badge green" data-badge-caption="">Members</span>
                  
                  {{else}}
                    <span class="new badge blue" data-badge-caption="">{{this.recipient}}</span>
                  
                  {{/ifCondA}}
                </div>
                <div class="col s12 m4 l4">
                  <span class="new badge right red" data-badge-caption="">P {{this.amount}}</span>
                </div>
              </div>
            </div>

            <div class="collapsible-body">
              <div class="row">
                <div class="col s12 m6">
                  <p>
                    Transferring Date: {{formatDate this.date 'standard'}} <br />
                    
                    {{#if this.approve_info}}
                      Recipient: {{this.recipient}}<br />
                    {{else}}
                      Sender: {{this.sender}} <br />
                    {{/if}}
                    Amount Transfer: P {{this.amount}}<br />
                    Reason: {{this.reason}} <br> <!--{#countDisapprove this.approve_info}}-->
                  </p>
                </div>
                <div class="col s12 m6">
                  <p>
                    {{#if this.approve_info}}
                      Main-submitter: {{this.approve_info.body.person1.email}} <br />
                      Number Approve: {{countApprove this.approve_info}} <br />
                      Number Disapprove: {{countDisapprove this.approve_info}} <br />
                      Responses:  <a class="waves-effect waves-light modal-trigger" href="#{{this.id}}">More detail...</a><br /> <!--NEED TO CHECK-->
                    {{else}}
                                            
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>
          </li>
          {{#if this.approve_info}}
            <div id="{{this.id}}" class="modal">
              <div class="modal-content">
                  <h4>Approve Information</h4>
                  <table class="striped responsive-table">
                    <thead>
                      <tr>
                          <th>Email</th>
                          <th>Status</th>
                          <th>Time</th>
                      </tr>
                    </thead>

                    <tbody>
                      {{#each this.approve_info}} 
                        {{#each this}}                    
                            <tr>
                              <td>{{email}}</td>
                              <td>{{status}}</td>
                              <td>{{toFormalDate time}}</td>
                            </tr>
                        {{/each}}
                      {{/each}}
                    </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>
          {{else}} {{/if}}
        {{/each}}
      </ul>

        















       <!--  <ul class="collection z-depth-1">
          <li class="collection-item">
            <h5 class="center">Appartment History</h5>
          </li>
          {{#each transferData}}
            <li class="collection-item">

              <div class="row" style="margin-bottom: 0;">
                
                <div class="col s4 m5">
                  <span class="collections-title">{{dateFormat this.date}}</span> <br>
                  <span class="collections-content red-text" data-badge-caption="">Transfer: P {{this.amount}}</span>
                </div>

                <div class="col s4 m4">
                  {{#if this.receive}}
                    <span class="new badge green black-text left" data-badge-caption="">{{this.sender}}</span>

                  {{else}}
                    <span class="new badge yellow black-text left" data-badge-caption="">{{this.recipient}}</span>
                  {{/if}}
                </div>

                <div class="col s4 m3">
                  <a href="#{{this.id}}" class="secondary-content blue-text">More...</a>
                </div>
              </div>

              <div id="{{this.id}}" class="modal black-text">
                <div class="modal-content">
                  <h4 class="center">{{dateFormat this.date}}</h4>
                  <p class="blue-text">
                    Date Transfering: {{dateFormat this.date}} <br />

                    Sender: {{this.sender}} <br />

                    Recipient: {{this.recipient}} <br />

                    Transfer Amount: P {{this.amount}} <br />

                    Left Over: {{#if moment_budget}}P {{this.moment_budget}}{{else}}So sorry that we didn't collect your data!{{/if}}<br />

                    Number Approve: {{this.num_approve}} <br />

                    Number Disapprove: {{this.num_disapprove}} <br />

                    Responses: {{this.email_logs}} <br />

                    Reason: {{this.reason}} <br /> <br /> 
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>

            </li>
          {{/each}}
        </ul>-->
      {{else}}
        <h2 class="center">Nothing Collected</h2>
      {{/if}}
    </div>
  </div>
</div>
<script type="text/javascript">
  
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
          
</script>