{{> mainNav}}

<div class="container-fluid">
	<div class="row">
		{{> apartmentValue}}
		<div class="col s12 m10  offset-m1">
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header center" style="padding: 1em;padding-left: 2.5em;">
						<h5 class="black-text">Apartment Approving</h5>
					</div>
				</li>
				{{#if transferData}}
					{{#each transferData}}
						<li>
						  <div class="collapsible-header">
						  	<div class="row" style="margin: 0;">
						  		<div class="col s12 m4 l4">
						  			<span>{{dateFormat this.date}}</span>
						  		</div>
						  		<div class="col s12 m4 l4">
						  			<span class="new badge blue" data-badge-caption="">{{this.recipient}}</span>
						  		</div>
						  		<div class="col s12 m4 l4">
						  			<span class="new badge right red" data-badge-caption="">{{countTotalEvents approve_info}}</span>
						  		</div>
						  	</div>
						  </div>
						  <div class="collapsible-body">
						  	<div class="row">
						  		<div class="col s12 m6">
						  			<p>
						  				Date Transfering: {{dateFormat this.date}} <br />
										Sender: {{this.sender}} <br />
										Recipient: {{this.recipient}}<br />
										Transfer Amount: P {{this.amount}}<br />
										Main-submitter: {{this.approve_info.body.person1.email}}<br />
						  			</p>
						  		</div>
						  		<div class="col s12 m6">
						  			<p>
						  				Number Approve: {{countApprove this.approve_info}} <br /> 
										Number Disapprove: {{countDisapprove this.approve_info}} <br />
										Responses:	<br /> <!--NEED TO CHECK-->
										Reason: {{this.reason}} <br> <!--{#countDisapprove this.approve_info}}-->
						  			</p>
						  			{{#ifEvent this.approve_info}} 
						  				<br>
				                    	<h5 class="blue-text center">Transaction Finished!</h5>
				                  	{{else}}
				                    	{{#finding this.approve_info ../email}}
						                 	<br>
						                 	<h5 class="green-text center">Thanks for your response!</h5>
				                    	{{else}}
				                    	<br />
				                    	<center>
						                    <form method="post" action="/apartment_list/approve/{{this.id}}">
						                      <button type="submit" name="status" value="approve" class="btn blue">Approve</button>
						                      <button type="submit" name="status" value="disapprove" class="btn red">Disapprove</button>
						                    </form>
						                </center>
				                    	{{/finding}}
				                  	{{/ifEvent}}
						  		</div>
						  	</div>
						  </div>
						</li>
					{{/each}}
				{{else}}
				<div class="row">
					<h2 class="center">Nothing Collected</h2>
				</div>
				{{/if}}
			</ul>
		</div>
	</div>
</div>